.gallery-admin{
    padding: 60px 100px;

}
.add-pic-gallery-btn{
    padding: 10px 20px;
    background-color: #255674;
    color: white;
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background-color: #2c98dc;
    }
}